@page "/"
@using System.ComponentModel.DataAnnotations
@attribute [StreamRendering]
@inject IStorage Storage

<PageTitle>Our Cocktails</PageTitle>

<p>
    Welcome to Our Cocktails. Here we will list most popular and new cocktails.
</p>

@if (drinks is null)
{
    <text>Loading drink ...</text>
}
else
{
    <div class="drink-card-grid">
        @foreach (Drink drink in drinks)
        {
            <DrinkCard Drink="drink" />
        }
    </div>
}

<br />
<hr />

<EditForm Model="SubscriptionModel" OnValidSubmit="Submitted" FormName="subscriptionForm">
    <h3>Sign Up for the Cocktail Newsletter!</h3>
    <DataAnnotationsValidator/>
    <ValidationSummary />
    <label for="email">
        Email
    </label>
    <InputText id="email" @bind-Value=SubscriptionModel!.Email />
    <button type="submit">Sign Up!</button>
</EditForm>

<br />

@code {
    private List<Drink>? drinks;

    [SupplyParameterFromForm]
    private Subscription? SubscriptionModel { get; set; }

    protected override async Task OnInitializedAsync()
    {
        SubscriptionModel ??= new();
        drinks = await Storage.GetDrinks();
    }

    public void Submitted()
    {
        Console.WriteLine($"The email was '{SubscriptionModel!.Email}'");
    }

    public class Subscription
    {
        [EmailAddress(ErrorMessage = "You need to supply a valid email.")]
        public string? Email { get; set; }
    }
}