<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">
            <svg class="bi" viewBox="0 0 16 16">
                <polygon stroke="#FFFFFF" stroke-width="-1" fill="#FFFFFF" points="2,1 8,7 8,14 3,15 13,15 8,14 8,7 14,1" stroke-linecap="round" stroke-linejoin="round"></polygon>
            </svg>
            Our Cocktails
        </a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="menu-items-holder">
        <div class="menu-item">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <svg class="bi" viewBox="0 0 16 16">
                    <polygon stroke="#FFFFFF" stroke-width="2" fill="lightgrey" points="2,9 3,15 6,15 7,9 6,15 3,15 2,9" stroke-linecap="round" stroke-linejoin="round"></polygon>
                    <polygon stroke="#FFFFFF" stroke-width="2" fill="none" points="10,15 9,6 10,4 10,2 13,2 13,4 14,6 13,15" stroke-linejoin="round"></polygon>
                </svg> Drinks
            </NavLink>
        </div>
        <div class="menu-item">
            <NavLink class="nav-link" href="drink/new/">
                <svg class="bi" viewBox="0 0 16 16">
                    <polygon stroke="none" stroke-width="0" fill="#FFFFFF" points="6,1 6,6 1,6 1,10 6,10 6,15 10,15 10,10 15,10 15,6 10,6 10,1"></polygon>
                </svg> Add Drink
            </NavLink>
        </div>
    </nav>
</div>

