h2 {
    color: white;
    background-color: #cf4646;
    margin: 0;
    padding: 5px;

}

img {
    height: 100%;
}

.img-container {
    aspect-ratio: 1/1;
    width: 100%;
    border: 2px solid black;
    justify-content: center;
    display: flex;
}

.content {
    display: flex;
    flex-direction: column;
}

.description {
    padding-left: 10px;
    flex: 1;
}

.ingredients-header {
    display: flex;
    flex-direction: row;
}

.counter {
    font-size: 20px;
    width: 50px;
}

.line {
    color: white;
    display: flex;
    flex-direction: row;
    padding: 5px;
    margin: 5px;
    background-color: #cf4646;
}

    .line:hover {
        border: 2px solid black;
        padding: 3px;
    }

.amount {
    width: 25px;
    text-align: right;
}

.unit {
    width: 20px;
}

@media (min-width: 760px) {
    .content {
        flex-direction: row;
    }

    .img-container {
        width: 500px;
    }
}