@inject OurCocktailsContext Context

<input id="name-@IngredientLine.Id" @bind-value=IngredientLine.Family!.Name />
<input id="amount-@IngredientLine.Amount" @bind-value=@IngredientLine.Amount type="number" step="1" />
<InputSelect @bind-Value=@IngredientLine.Unit>
    @foreach (Unit unit in Enum.GetValues(typeof(Unit)))
    {
        <option value="@unit">@unit.ShortFormat()</option>
    }
</InputSelect>

@code {
    [Parameter, EditorRequired]
    public required IngredientLine IngredientLine { get; set; }

    protected override void OnParametersSet()
    {
        if (IngredientLine.Family is null)
        {
            IngredientLine.Family = new()
                {
                    Id = Guid.NewGuid(),
                    Name = ""
                };

            Context.Add(IngredientLine.Family);
        }
    }
}
