

.line {
    color: white;
    display: flex;
    flex-direction: row;
    padding: 5px;
    margin: 5px;
    background-color: #cf4646;
}

    .line:hover {
        border: 2px solid black;
        padding: 3px;
    }
